.heading {
    display: none;
}

h3:first-of-type {
    justify-self: start;
}

.productWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
}

.cartItem {
    width: 100%;
}

.product {
    display: flex;
    gap: 1rem;
}

.productImg {
    width: 10rem;
    height: 10rem;
    border-radius: .5rem;
}

.productName {
    padding: 0;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.quantityControls {
    width: fit-content;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    line-height: .5rem;
}

.controlBtn {
    font-family: inherit;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: .5rem;
    background-color: hsl(48, 100%, 99%);
    color: hsl(13, 10%, 17%);
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.controlBtn:hover{
    background-color: hsl(48, 100%, 99%);
    color: hsl(45, 77%, 50%);
}

.quantity {
    padding: .5rem;
    border-right: .1rem solid hsl(45, 77%, 50%);
    border-left: .1rem solid hsl(45, 77%, 50%);
}

.subtotal {
    width: 100%;
    text-align: end;
    position: relative;
}

.deleteItemBtn {
    background-color: hsl(48, 100%, 99%);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: .35rem;
    right: .1rem;
    transition: all 200ms ease-in-out;
}

.deleteItemBtn:hover {
    color: hsl(45, 77%, 50%);
}

.total {
    width: 100%;
    font-size: clamp(1.75rem, 1.3571rem + 1.9643vw, 3.125rem);
    font-weight: 600;
    text-align: end;
    padding: 2rem 0;
    border-top: .125rem solid hsl(13, 10%, 17%);
}

@media (min-width: 768px) {
    .heading {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        justify-items: center;
        padding: 0 1rem;
    }

    .productWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .subtotal {
        text-align: center;
    }

    .deleteItemBtn {
        font-size: 1.25rem;
        top: .85rem;
        right: .5rem;
    }
}