.header {
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 92%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px .5em .5em;
    position: relative;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-areas:
        "logo menuIcon cartIcon"
        "menuLinks menuLinks menuLinks"
    ;
    align-items: center;
}

.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    gap: .2rem;
}

.logo img {
    width: 1.5rem;
}

.logo span {
    height: .85rem;
    font-weight: 300;
}

.navMenu {
    grid-area: menuIcon;
    justify-self: end;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    color: hsl(13, 10%, 17%);
    transition: all 250ms ease;
    padding: 0;
}

.navToggle:focus,
.navToggle:hover {
    color: hsl(45, 77%, 50%);
}

.navList {
    grid-area: menuLinks;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5rem; 
    padding-top: 1rem;
}

.navList.open {
    display: flex;
}

.cartIcon {
    grid-area: cartIcon;
    font-size: 1.5rem;
    justify-self: end;
    position: relative;
}

.quantityCount {
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(45, 77%, 50%);
    color: hsl(0, 0%, 92%);
    border-radius: 50%;
    position: absolute;
    right: -.4rem;
    bottom: -.3rem;
    font-size: 1rem;
    padding-top: .1rem;
}

@media (min-width: 768px) {
    .navMenu {
        display: none;
    }

    .nav {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            "logo menuLinks cartIcon"
        ;
    }

    .navList {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
        font-size: 1.5rem;
        gap: 2rem;
    }

    .navItem {
        margin: 0;
    }

    .quantityCount {
        font-size: 1rem;
        right: -.6rem;
        bottom: -.1rem;
    }
}