*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Zain", serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3rem;
    background-color: hsl(48, 100%, 99%);
    color: hsl(13, 10%, 17%);
}

#root {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    justify-content: center;
    gap: 1rem;
}